body {
  background-color: hsl(233, 47%, 7%);
}

main {
  height: 100vh;
  display: flex;
color: white;
  /* Cambia las siguientes lineas para experimentar?*/
  align-items: center;
  justify-content: center;
}
.card {
  border: solid;
  width: 170vh;
  height: 60vh;
  background-color: hsl(244, 38%, 16%);
}

section{
    display: grid;
    align-content: center;
    height: 30vh;
    padding-left: 10vh;
    grid-template-columns: 50vh ;
}